<br><br><br>
<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-header">
                <a href="/Master/agregar_genero" class="btn btn-success">Agregar</a>
            </div>
            <div class="card-body">
                <table class="table table-striped table-bordered">
                    <thead>
                        <th scope="col" class="align-middle text-center">#</th>
                        <th scope="col"class="align-middle text-center">Genero</th>
                        <th scope="col" class="align-middle text-center">Estado</th>
                        <th scope="col" class="align-middle text-center">Editar</th>
                        <th scope="col" class="align-middle text-center">Eliminar</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let genero of generos">
                            <th scope="row" class="align-middle text-center">{{genero.gen_id}}</th>
                            <td class="align-middle text-center">{{genero.gen_descripcion}}</td>
                            <td class="align-middle text-center">{{genero.gen_estado}}</td>
                            <td class="align-middle text-center"><a href="/Master/editar_genero/{{genero.gen_id}}" class="btn btn-warning text-white">Editar</a></td>
                            <td class="align-middle text-center"><button name="id" type="button" class="btn btn-danger" (click)="eliminar(genero.gen_id)">Eliminar</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

